@import '../../../variables.scss';

.button {
    font-family: $ff-common;
    border: 2px solid transparent;
    display: block;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: $accent-color;
    color: #fff;
    white-space: nowrap;
    transition:
        border-color 200ms ease,
        color 200ms ease,
        background-color 200ms ease,
        text-shadow 200ms ease;

    &:hover {
        background-color: darken($accent-color, 10%);
        text-shadow: 0 0 3px #fff;
    }

    &__alternative {
        background-color: transparent;
        color: $accent-color;
        border-color: $accent-color;

        &:hover {
            background-color: transparent;
            text-shadow: none;
            border-color: darken($accent-color, 10%);
            color: darken($accent-color, 10%);
        }
    }
}
