@import '../../../variables.scss';

.movie {
    font-family: $ff-common;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    color: $darkgrey-color;

    &__title {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }

    &__release {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    &__img-wrapper {
        margin-bottom: 20px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__link {
        color: #7F7FD5;
        border: 1px solid #7F7FD5;
        padding: 9px;
        display: block;
    }
}
