@import '../../variables.scss';

.auth {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $ff-common;
    padding: 30px;

    &__form-wrapper {
        box-shadow: 0 5px 15px #ccc;
        border-radius: 8px;
    }

    &__tabs {
        display: flex;
    }

    &__tab {
        width: 50%;
        padding: 20px 30px;
        text-align: center;
        transition: background-color 300ms ease;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #eee;
        }

        &_active {
            cursor: default;
            background-color: #ccc;

            &:hover {
                background-color: #ccc;
            }
        }
    }

    &__form {
        padding: 30px;
        
    }

    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__label {
        min-width: 160px;
    }

    &__error {
        font-size: .8rem;
        color: red;
        margin-top: 5px;
        max-width: 250px;
    }

    &__input_error {
        border-color: red;
        
        &:focus {
            border-color: red;
        }
    }

    .input {
        min-width: 250px;
    }

    .button {
        margin: auto;
        display: block;
    }
}
