@import '../../variables.scss';

.cart {
    &__table {
        margin-bottom: 20px;
    }
    
    &__th {
        background-color: $yellow-color;
    }

    &__td,
    &__th {
        padding: 15px 20px;
        text-align: center;
        border-bottom: 1px solid $yellow-color;
    }

    .button {
        margin-left: auto;
    }
}