@import '../../variables.scss';

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @include media(576px) {
        margin-bottom: 0;
    }

    &__img-wrapper {
        max-width: 80px;
        margin-right: 15px;
        background-color: $accent-color;
        border-radius: 50%;
        border: 2px solid darken($accent-color, 10%);
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__title {
        font-family: $ff-cursive;
        font-weight: 500;
        color: $accent-color;
        font-size: 1.3rem;
        
        @include media(576px) {
            font-size: 1.5rem;
        }
    }
}