@import '../../variables.scss';

.products {
    padding: 20px;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
    @include media(576px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @include media(768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
