@import '../../../variables.scss';

.auth-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;

    &__title {
        font-family: $ff-heading;
        color: $accent-color;
        margin-bottom: 10px;
    }

    .input {
        margin-bottom: 10px;
        width: 100%;

        &:last-of-type {
            margin-bottom: 20px;
        }
    }

    .button {
        margin-bottom: 15px;
    }

    &__switch-btn {
        color: $accent-color;
        cursor: pointer;
        border-bottom: 1px dotted transparent;
        user-select: none;
        
        &:hover {
            border-color: $accent-color;
        }
    }
}
